:root{
    --black: #000000;
    --grey: #3C3C43;
    --border-grey: rgb(60, 60, 67,0.5);
    --blue:rgb(14, 24, 95);
    --primary-blue:rgb(0, 114, 227);
    --primary-blue-hover:rgb(0, 114, 227,0.5);
    --buttons-background: rgb(14, 24, 95,0.05);
    --buttons-background-hover: rgb(14, 24, 95,0.3);
    --white:#ffffff;
    --existing-number:#000000;
    --selected-cell:rgb(0, 114, 227,0.5);
    --column-row:rgb(0, 114, 227,0.1);
    --incorrect-number-color: #c22020;
}

body{
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 980px;
    margin: 0 auto 0 auto;
    text-align: center;
    padding-top: 50px;
}

h1{
    font-weight: bolder;
    color: var(--black);
    margin-bottom: 50px;
}

/* Table section */

table{
    border-collapse: collapse;
    margin: auto;
    border: 4px solid #000000;
    color: var(--border-grey);
}

td{
    width: 60px;
    height: 60px;
    border: 1px solid var(--border-grey);
}

.cornerLeftTop{
    border-left: 2px solid var(--black);
    border-top: 2px solid var(--black);
}

.cornerRightTop{
    border-right: 2px solid var(--black);
    border-top: 2px solid var(--black);
}

.cornerLeftBottom{
    border-left: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}

.cornerRightBottom{
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}

.edgeTop{
    border-top: 2px solid var(--black);
}

.edgeBottom{
    border-bottom: 2px solid var(--black);
}

.edgeRight{
    border-right: 2px solid var(--black);
}

.edgeLeft{
    border-left: 1px solid var(--black);
}

/* End of table section */

.wrapperCenter{
    display: flex;
}

.tableDiv{
    width: 70%;
}
.numbers{
    width: 30%;
}

.numbersButtons{
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    gap: 5px;
    margin-bottom: 30px;
    justify-content: center;
}

.numbers button{
    padding: 10px;
    font-size: x-large;
    border-radius: 8px;
    border: none;
    color: var(--blue);
    background-color: var(--buttons-background);
}

.numbers #NewGame{
    width: 250px;
    border-radius: 5px;
    height: 50px;
    font-size: larger;
    margin-bottom: 10px;
    background-color: var(--primary-blue);
    color: var(--white);
} 

.commandButtons{
    display: flex;
    width: 250px;
    margin: auto;
}

.commandButtons #Undo, .commandButtons #Clear{
    width: 48%;
    height: 50px; 
    font-size: large;
}

.commandButtons #Clear{
    margin-left: auto;
}

button:hover{
    background-color: var(--buttons-background-hover);
    color: var(--white);
}

#NewGame:hover{
    background-color: var(--primary-blue-hover);
    color: var(--blue);
}

input, input:focus{
    border: none;
    background-color: transparent;
    font-size: xx-large;
    width: 100%;
    text-align: center;
    writing-mode: horizontal-tb;
    text-rendering: auto;
    cursor: text;
    resize: none;
    outline: none;  
}

input:disabled{
    color: var(--primary-blue);
}