:root{
    --black: #000000;
    --gray: #3C3C43;
    --border-gray: rgb(60, 60, 67,0.5);
}

body{
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    width: 980px;
    margin: 0 auto 0 auto;
    text-align: center;
    padding-top: 50px;
}

h1{
    font-weight: bolder;
    color: var(--black);
    margin-bottom: 50px;
}

/* Table section */

table{
    border-collapse: collapse;
    margin: auto;
    border: 4px solid #000000;
    font-weight:400;
    color: grey;
}

td{
    width: 60px;
    height: 60px;
    border: 1px solid var(--border-gray);
}

.cornerLeftTop{
    border-left: 2px solid var(--black);
    border-top: 2px solid var(--black);
}

.cornerRightTop{
    border-right: 2px solid var(--black);
    border-top: 2px solid var(--black);
}

.cornerLeftBottom{
    border-left: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}

.cornerRightBottom{
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}

.edgeTop{
    border-top: 2px solid var(--black);
}

.edgeBottom{
    border-bottom: 2px solid var(--black);
}

.edgeRight{
    border-right: 2px solid var(--black);
}

.edgeLeft{
    border-left: 1px solid var(--black);
}

/* End of table section */

.wrapperCenter{
    display: flex;
}

.tableDiv{
    width: 70%;
}
.numbers{
    width: 30%;
}


.numbersButtons{
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    gap: 5px;
    margin-bottom: 30px;
    justify-content: center;
}

.numbers button{
    padding: 10px;
    font-size: larger;
    border-radius: 8%;
    border: none;
}

.numbers #NewGame{
    width: 250px;
    border-radius: 5px;
    height: 50px;
    font-size: large;
    margin-bottom: 10px;
} 

.commandButtons{
    display: flex;
    width: 250px;
    margin: auto;
}

.commandButtons #Undo, .commandButtons #Clear{
    width: 48%;
    height: 50px; 
}

.commandButtons #Clear{
    margin-left: auto;
}
